.hello-world .single-foo-menu {
  position: absolute;
  z-index: 90 !important;
  width: 100%;
}
.hello-world .single-menu-active .single-top-nav-bar {
  z-index: 90;
}
.hello-world .single-top-nav-bar {
  position: relative;
  background-color: #008AE6;
  color: #FFF;
}
.hello-world .am-navbar-title {
  color: #FFF !important;
}
.hello-world .menu-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 89;
}
