.m-acc-charge-transfer {
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.m-acc-charge-transfer-list-date .am-list-line .am-list-extra {
  color: #28303B !important;
}
.m-acc-charge-transfer-list-memo .am-list-line .am-input-label.am-input-label-5 {
  padding: 0;
  margin-right: 0;
}
.m-acc-charge-transfer-list-memo .am-input-control > input {
  font-size: 14px;
}
.m-acc-charge-transfer-list-more {
  padding: 10px;
}
.m-acc-charge-transfer-list-amount .am-input-control input {
  text-align: left;
  font-family: 'PingFangSC-Medium';
  font-size: 16px;
  color: #29303B;
}
.m-acc-charge-transfer-list-memo {
  border-bottom: 0.5px solid #f1f1f1;
}
.m-acc-charge-transfer-list-memo .am-list-line:after {
  display: none !important;
}
.m-acc-charge-transfer-list-memo .am-input-control input {
  color: #28303B;
}
.m-acc-charge-transfer-footer {
  padding-bottom: 10px;
  text-align: center;
}
.m-acc-charge-transfer-footer .am-button:before {
  display: none;
}
.m-acc-charge-transfer-footer .saveAndNew {
  background: #FAAD14;
  box-shadow: 0 2px 10px 0 rgba(250, 173, 20, 0.3);
  border-radius: 2px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  box-sizing: initial;
  width: 54%;
  display: inline-block;
  margin-right: 10px;
}
.m-acc-charge-transfer-footer .save {
  border: 1px solid #EAEAEA;
  box-shadow: 0 1px 4px 0 rgba(146, 160, 173, 0.1);
  border-radius: 2px;
  color: #FAAD14;
  height: 40px;
  line-height: 40px;
  box-sizing: initial;
  width: 32%;
  display: inline-block;
}
.m-acc-charge-transfer .am-list {
  flex: 1;
  display: flex;
  overflow: scroll;
}
.m-acc-charge-transfer .am-list .am-list-body {
  width: 100%;
  background-color: inherit;
  border: none;
  /*safari*/
}
.m-acc-charge-transfer .am-list .am-list-body .am-list-item-active {
  background-color: #EDF8FE;
}
.m-acc-charge-transfer .am-list .am-list-body .am-list-line {
  border-bottom: 0.5px solid #ddd;
  /*safari*/
}
.m-acc-charge-transfer .am-list .am-list-body:before {
  display: none;
}
.m-acc-charge-transfer .am-list .am-list-body:after {
  display: none;
}
.m-acc-charge-transfer .am-list-item .am-list-line .am-list-extra {
  text-align: left;
}
.m-acc-charge-transfer .am-list-item .am-list-line .am-list-content {
  width: 85px;
  flex: none;
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  color: #6B7887;
}
.m-acc-charge-transfer .am-list-item .am-list-line .am-list-extra {
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  color: #92A0AD;
}
.m-acc-charge-transfer .am-list-item .am-input-label.am-input-label-5 {
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  color: #6B7887;
}
.m-acc-charge-transfer .am-list-item .am-list-line .am-list-arrow {
  position: absolute;
  right: 10px;
}
.m-acc-charge-transfer .am-tag {
  margin-right: 8px;
}
.m-acc-charge-transfer-accounts {
  display: flex;
}
.m-acc-charge-transfer-accounts-in {
  border-right: 1px solid #EAEAEA;
  padding-left: 0;
  width: 50%;
}
.m-acc-charge-transfer-accounts-in .am-list-line {
  margin-left: 15px;
}
.m-acc-charge-transfer-accounts-out {
  padding-left: 0;
  flex: 1;
}
.m-acc-charge-transfer-accounts-out > div {
  padding-left: 15px;
}
.am-modal-wrap .am-modal-content {
  border-radius: 0;
}
.am-modal-wrap .am-list-body {
  max-height: 200px;
}
.am-modal-wrap .am-list-body:after {
  display: none !important;
}
