.m-acc-main {
  flex: 1;
  overflow: inherit;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.m-acc-main .am-list .am-list-body:before {
  background-color: #44B2F9;
}
.m-acc-main .am-list .am-list-body:after {
  display: none;
}
.m-acc-main .am-list .am-list-body {
  /*safari*/
  border: none;
}
.m-acc-main .am-whitespace {
  background-color: whitesmoke;
}
.m-acc-main .am-pull-to-refresh {
  height: 100%;
}
.m-acc-main .am-pull-to-refresh-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.m-acc-main .am-pull-to-refresh-content-wrapper .am-pull-to-refresh-transition {
  /*height: 100%;*/
  flex: 1;
}
.m-acc-main .am-pull-to-refresh-content-wrapper .am-pull-to-refresh-transition > div:nth-child(2) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.m-acc-main .am-pull-to-refresh-content-wrapper .am-pull-to-refresh-transition > div:nth-child(2) > div {
  flex: 1;
}
.m-acc-main-nav {
  background-image: linear-gradient(-179deg, #2FAAF9 0%, #189CF6 100%);
  box-shadow: 0 2px 10px 0 rgba(22, 155, 246, 0.3);
}
.m-acc-main-nav h2 {
  text-align: center;
  font-size: 18px;
  line-height: 44px;
  color: #fff;
  font-family: 'PingFangSC-Regular';
  margin: 0;
  letter-spacing: 0;
}
.m-acc-main-nav div {
  text-align: center;
  background-color: initial;
}
.m-acc-main-nav .am-list-item-middle > .am-list-line {
  border-bottom: none !important;
  /*safari*/
}
.m-acc-main-nav .am-list-content .am-list-content {
  display: flex;
  justify-content: center;
  padding: 0;
}
.m-acc-main-nav .am-list-brief {
  padding-bottom: 0;
}
.m-acc-main-nav .am-list-item-active {
  background-color: initial;
}
.m-acc-main-nav-thisMonth {
  font-family: 'PingFangSC-Medium';
  font-size: 16px;
  color: #FFFFFF;
}
.m-acc-main-nav-thisMonthData {
  font-family: 'PingFangSC-Regular';
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 10px;
  line-height: 27px;
}
.m-acc-main-nav .am-list-item:not(:last-child) .am-list-line:after {
  display: none !important;
}
.m-acc-main-nav > div:nth-child(1) {
  background: url(1a17a775d0cf19192537d6b9f982de05.png) no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 100% 65%;
}
.m-acc-main-nav > div:nth-child(1) .am-list-item {
  padding-left: 0;
}
.m-acc-main-nav > div:nth-child(1) .am-list-item .am-list-content {
  color: #fff;
}
.m-acc-main-nav > div:nth-child(1) > div .am-list-line {
  padding-right: 0;
  border-bottom: none;
  /*safari*/
}
.m-acc-main-nav .m-acc-main-listContentT {
  color: #C2E9FF;
}
.m-acc-main-nav .m-acc-main-listContentCenter {
  border-right: 1px solid #8ED1F7;
  border-left: 1px solid #8ED1F7;
}
.m-acc-main-nav .m-acc-main-listContentIncome,
.m-acc-main-nav .m-acc-main-listContentPayment,
.m-acc-main-nav .m-acc-main-listContentBalance {
  color: #fff;
}
.m-acc-main-middle {
  padding-left: 0;
}
.m-acc-main-middle > .am-list-line:after {
  display: none !important;
}
.m-acc-main-middle > .am-list-line {
  border-bottom: none !important;
  /*safari*/
}
.m-acc-main .am-list-brief {
  display: flex;
}
.m-acc-main .am-list-brief > div {
  flex: 1;
  text-align: center;
  max-width: 33%;
}
.m-acc-main .am-list-content {
  font-family: 'PingFangSC-Regular';
  font-size: 16px;
  color: #000000;
  line-height: 44px;
}
.m-acc-main .am-list-content .am-list-item .am-list-line .am-list-extra {
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  color: #91A0AD;
}
.m-acc-main-listNav .am-list-content {
  font-family: 'PingFangSC-Regular';
  font-size: 16px;
  color: #000000;
  line-height: 40px;
}
.m-acc-main-listNav .am-list-line {
  padding-right: 0;
}
.m-acc-main-listNav .am-list-extra {
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  color: #91A0AD;
  line-height: 40px;
}
.m-acc-main-listNav .rriconfont {
  padding-left: 10px;
  font-size: 12px;
  color: #6B7886;
}
.m-acc-main-listContentT {
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  color: #91A0AD;
  letter-spacing: 0;
  line-height: 32px;
}
.m-acc-main-listContentTP {
  border-right: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
}
.m-acc-main-listContentIncome,
.m-acc-main-listContentPayment,
.m-acc-main-listContentBalance {
  font-family: 'PingFangSC-Medium';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  word-break: break-all;
  white-space: normal;
  padding: 0 3px;
}
.m-acc-main-listContentIncome {
  color: #D43D4A;
}
.m-acc-main-listContentPayment {
  color: #33A100;
}
.m-acc-main-listContentBalance {
  color: #28303B;
}
.m-acc-main-audit .am-list-line .am-list-extra {
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  color: #29303B;
  line-height: 44px;
}
.m-acc-main-audit-auditCircle {
  display: inline-block;
  background: #FA555D;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  line-height: 0.5;
  margin: 0 10px 2px 0;
}
.m-acc-main-audit .rriconfont {
  padding-left: 10px;
  font-size: 12px;
  color: #6B7886;
}
.m-acc-main-charge {
  background: #FAAD14;
  box-shadow: 0 2px 10px 0 rgba(250, 173, 20, 0.3);
  border-radius: 2px;
  height: 44px;
  line-height: 40px;
  box-sizing: initial;
  color: #fff;
  margin: 10px;
  /*margin: 10px 3%;
        position: absolute;
        width: 94%;
        bottom: 0;*/
}
.m-acc-main-charge:before {
  display: none;
}
.m-acc-main .am-button-active {
  background-color: #FAAD14;
}
