.m-acc-charge {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.m-acc-charge .am-navbar {
  background-image: linear-gradient(-179deg, #45B8FB 2%, #2FAAF9 100%);
}
.m-acc-charge .am-tabs flex:\1 .am-tabs-default-bar-bottom .am-tabs-default-bar-prevpage,
.m-acc-charge .am-tabs .am-tabs-default-bar-top .am-tabs-default-bar-prevpage {
  display: none;
}
.m-acc-charge .am-tabs .am-tabs-default-bar-bottom,
.m-acc-charge .am-tabs .am-tabs-default-bar-top {
  background-image: linear-gradient(-179deg, #2FAAF9 0%, #189CF6 100%);
  box-shadow: 0 2px 10px 0 rgba(22, 155, 246, 0.3);
}
.m-acc-charge .am-tabs .am-tabs-default-bar-bottom .am-tabs-default-bar-prevpage,
.m-acc-charge .am-tabs .am-tabs-default-bar-top .am-tabs-default-bar-prevpage {
  display: none;
}
.m-acc-charge .am-tabs .am-tabs-default-bar-bottom .am-tabs-default-bar-nextpage,
.m-acc-charge .am-tabs .am-tabs-default-bar-top .am-tabs-default-bar-nextpage {
  display: none;
}
.m-acc-charge .am-tabs .am-tabs-default-bar-tab {
  font-family: 'PingFangSC-Regular';
  font-size: 16px;
}
