.m-inv-check {
  flex: 1;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.m-inv-check .am-input-label {
  color: #6B7887;
  font-size: 14px ;
  float: right;
}
.m-inv-check .am-navbar {
  background-image: linear-gradient(-179deg, #45B8FB 2%, #2FAAF9 100%);
}
.m-inv-check .am-list-item .am-input-control input {
  font-size: 14px !important;
}
.m-inv-check .am-list-item .am-list-line {
  position: relative;
}
.m-inv-check .am-list-item .am-list-line .am-list-extra {
  position: absolute;
  left: 105px;
}
.m-inv-check .am-list-arrow-horizontal {
  margin-left: 0px !important;
}
.m-inv-check .am-list-content {
  color: #6B7887 !important;
  font-size: 14px !important;
}
.m-inv-check .am-picker-col {
  flex: none !important;
}
.m-inv-check .m-sys-portal-show {
  position: relative;
  min-height: 440px;
}
.m-inv-check .am-list-line {
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
}
.m-inv-check .am-list-item {
  padding-left: 0 !important;
}
.m-inv-check .am-list-item.am-input-item {
  padding-left: 0 !important;
}
.m-inv-check-content {
  margin-top: 15px;
}
.m-inv-check-btn {
  position: absolute;
  bottom: 20px;
  width: 90%;
  margin-left: 5%;
}
.m-inv-check-invType {
  margin-top: 15px;
}
.m-inv-check-checking {
  background: #FAAD14;
  box-shadow: 0 2px 10px 0 rgba(250, 173, 20, 0.3);
  border-radius: 2px;
  margin-bottom: 10px;
  width: 100%;
  top: 5px;
}
.m-inv-check-checking span {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 40px;
}
.m-inv-check-InvNone {
  display: none;
  height: 100% !important;
  width: 100% ;
}
.m-inv-check-Invblock {
  display: inline-flex;
  height: 100% !important;
  width: 100% ;
}
.m-inv-check-replacement {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0 1px 4px 0 #EAEAEA;
  border-radius: 2px;
}
.m-inv-check-replacement span {
  font-family: 'PingFangSC-Regular';
  font-size: 16px;
  color: #FAAD14;
  letter-spacing: 0;
  line-height: 40px;
}
.m-inv-check-bgPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.m-inv-check-loadingPhoto {
  width: 60px;
  height: 60px;
  background: url(e333b83fbebad199369d6da1ff410b4c.gif) no-repeat !important;
  background-size: cover !important;
}
.m-inv-check-Modal .am-modal-content {
  border-radius: 0 !important;
  padding-top: 0 !important;
}
.m-inv-check-Modal .am-modal-content .am-modal-title {
  padding: 10px 0 0 0;
}
.m-inv-check-Modal .am-modal-content .am-modal-body {
  padding: 0 15px 0 !important;
}
