.m-my {
  overflow: hidden;
  width: 250px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.m-my-current-user {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}
.m-my-current-user-sex {
  width: 50px;
  height: 50px;
}
.m-my-current-user-mobile {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  font-size: 14px;
  color: #28303B;
  padding-top: 8px;
}
.m-my-current-user-mobile-modify {
  font-size: 12px;
  color: #6B7887;
}
.m-my-orgs {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.m-my-orgs .am-list-header {
  font-size: 12px;
  height: 40px;
  color: #6B7887;
  border-bottom: 1px solid #eaeaea;
}
.m-my-orgs .rriconfont-qiye:before {
  color: #6B7886;
}
.m-my-orgs .am-list-body {
  flex: 1;
  overflow-y: auto;
}
.m-my-orgs .am-list-body::before,
.m-my-orgs .am-list-body::after {
  height: 0 !important;
}
.m-my-orgs-item {
  display: flex;
  height: 44px;
  align-items: center;
  color: #485360;
}
.m-my-orgs-item-icon {
  padding-left: 20px;
  padding-right: 8px;
}
.m-my-orgs-item-orgName {
  width: 168px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #28303B;
}
.m-my-orgs-item .rriconfont-xuanzhong:before {
  color: #189CF6;
}
.m-my-orgs-item-expired {
  color: #92A0AD;
}
.m-my-orgs-item-expired-icon {
  background: #ECF0F2;
  width: 30px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  border-radius: 110px;
  color: #D43D4A;
}
.m-my-orgs-checked {
  background: #F8F8F8;
}
.m-my-orgs-checked .m-my-orgs-item-orgName {
  color: #28303B;
}
.m-my-footer {
  height: 44px;
  border-top: 1px solid #eaeaea;
}
.m-my-footer .am-flexbox-item {
  text-align: center;
  font-size: 14px;
  color: #485360;
}
