.m-rpt-fi-balance-sheet {
  margin-bottom: 8px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  /*.echarts-for-react>div{
		width: 40% !important;
	}
	.echarts-for-react object{
		width: 40% !important;
	}*/
}
.m-rpt-fi-balance-sheet .echarts-for-react {
  height: 200px !important;
  background: #fff;
}
.m-rpt-fi-balance-sheet .am-navbar-left {
  font-size: 14px;
  font-weight: bold;
  color: #28303B;
}
.m-rpt-fi-balance-sheet .statementNavBar {
  background-image: inherit !important;
  box-shadow: initial;
  position: relative;
}
.m-rpt-fi-balance-sheet .am-navbar-right {
  margin-right: 0;
}
.m-rpt-fi-balance-sheet .rriconfont-jiantou-xiangyou:before {
  position: absolute;
  right: 18px;
  top: 15px;
}
.m-rpt-fi-balance-sheet .noData {
  height: 172px;
  background: #fff;
  text-align: center;
}
.m-rpt-fi-balance-sheet .noData .noDataBg {
  height: 140px;
  width: 140px;
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAACMCAMAAACZHrEMAAAA9lBMVEUAAAD39/fx8fHx8fHx8fHq6ur////w8PDx8fHw8PDx8fHz8/O6urq6urrAwMDy8vK7u7u6urq6urrx8fH29va+vr66urrx8fG8vLy7u7u8vLy8vLzw8PDx8fG6urrx8fHx8fG6urrx8fHx8fHx8fHy8vL09PS8vLy6urq6urq6urq+vr66urq6urq7u7vx8fHx8fG8vLzw8PC6urq7u7u8vLy7u7u6urq7u7vw8PDw8PDx8fHx8fHx8fG6urrx8fHx8fHx8fHy8vLz8/Pz8/Pz8/Pz8/Py8vLy8vLx8fH39/f09PT///+6urrw8PC6urq6urrw8PAfxQzGAAAAUXRSTlMAA+1p+AYB8ufTxTHttwxyX+KreBsU229MgFIj4NzAuLWvmIZYOBgv0MiSHPjVd0hGRauEbDYroUH25NbCsKalkIFfU1JBQDwoJCAWC5usn561FC1sAAAFeUlEQVR42szYaXOaUBQG4PciiIALbjWKonGPS2Ncatqkzd6stj3//8/UaLd0rLkHBft80GFG5A73bADvxMMgVx2WTaOoqKpSNMzysJobPAgETDTSQ0OllVRjmG4IBCNsJSo6vUKvJKww/HZbVUiSUr2Fj+4vSsRSuriHL8SlSR6YlwLbpoWK5FExpGGbnhIR2kAk8YRt0dIKbUhJa9iKmxPagpMbbK55Rlty1sRmRE6nrdFzAhvInNJWnWbg2aFCW6YcwhtRIx/UBDzImOQLMwM2K0I+iVhg+qyTb/TPYLlWyUfqNRhC5LMQpKXJd+n/5r4w7s01BeJaKo9UCoQqkVOWTgHRLbwiE6HARDJYS5gUIFNgnRoFqoY1Dilgh2sCRqGAKRn8gzilwJ0KrJajHchhpaZOO6A3scoZ7cQZVrihHVnxdKed0I6caAHOMPzZ5kmhnVGe8FKCdiiBF7QIeRMpn4euBo3G4Cp0Xvb8J9rmk6ZaCd3hhbtQRd14BhVFYislmlihmSgRW1Hgt0viMuoC/yDqBnFd4jeTeJSQwBoipBCPiV/uiefjI17x+JF47vHTBbHUwnhVuEYsF79OZIXc+zqk1N+z0iGMpVti+GBBkvWBGG6xVOWsJQNpGc5qqlgIK4w9ssBgMXZKCS9PIXl1sNRJnsXtkTUw1bjdsiJfX8JgCsvXmwrmhE6SlEewPSokSRcAGvze6s8buQZn3jQEPBAGZ/ocsjPJp4waApBdeUnAE1EiOQYgVMZzKBerdKgCD7I/bcKjpkpyHnDIKAN8rEI2QI6X135md066Zd/Bszvpxv2FpEQwJ94KLHS7+EtcOMfIYv6xMGnhDxGS8gVlklIGutP93nQ6dcbTA9cGuvs/fQXQsQuzdy7GMyzk38JOLvQB+WuYJOUciO9F7cLRUTZ5pAHPh3t7dnRv7ghAt1OY5VuYTefH2mIx4058LtsDcE5STBjy8TuKOVHHEclJq9WK45mTxFLcdftJ1+0exFLRWNZxk29m45g9N+7JR7CBIkm5AvA2leqlUt3evhvdf7cMjTaWhJM/SNpOttfFmy7ik2+dd+OD0aifGuUBXJGUIhTZGgBoWSd6XGilMHEBrTCX7xcWBGzXTqU6ds+O9wR+bBOQKuDZgKQoUOX7e7vt9jr5b3uLxcQ/zfX7bvL5W3Ni8aM8HDcfmyQxl+/Yo2i7HU2228fSU4r6vZtr2W0QBoLjA5xsC5CckCBVIhfHEIgoCeEbIjXp/39NhUFVDz3gqIdR5wDXld+7OzPrg/HIgESgqDDjrcsVJsRau1rrLm7aG6D3Tl6erTFlYkwUEEzANOGyWbAEY6RYgjGNlM1mA+zSHBiVaqFGa1Vri4BpClnA2PXwSDJ4PD+wBIPYWVQX4HrSyznT1CellMsCFnDI1sZOHj3SDPNAmTmYssCQVu1bDO2afg5mkJAAuixga68/9PzICA8/MuZTDkDuBCJpgDGVbhSqEuUeQN/2FU7W2iQLOPTWH9V+ZDYeMgOMvBlMv8alJYZGdXGu+kxAuy66yf3RYp6mgOsg6KK8XuFRdNMHHtEw1IAYMMFE00djtKiBBEDdrb8o37meEFSPK6pnJ9WDnCpVoUriuNJbqsSfqiRCVSyiKqNxFRipSq+CqShNVa7namRQtHgom19cbUGqhilXK/mlJvv2L5vsrPQDLmIGFWWFi8xDRXPiIoBRUeO4SINcdEoqoikXBZeKnMxF2+YitHNR/alEEFzyEC7hDJekiEtsxSVD4xLocUkXuUSdXHJXLiEwl0SaSzxOJqvnMhzgsmIgM6kgs+/gMjYhs3whM8MhswnyiMMMlGL8gn9qLUVmuvUNcT9vD4+fdmSPw/Z8F3gZX2sbbSFkYcoHAAAAAElFTkSuQmCC) no-repeat !important;
  background-size: cover !important;
}
.m-rpt-fi-balance-sheet .echarts-for-react {
  width: 46%;
}
.m-rpt-fi-balance-sheet .rriconfont-jiantou-xiangyou {
  color: #6B7886;
  font-size: 12px;
  width: 100%;
  position: absolute;
  height: 100%;
}
.m-rpt-fi-balance-sheet .rriconfont-jiantou-xiangzuo {
  font-size: 14px;
}
.m-rpt-fi-balance-sheet .statementNavBar .m-sys-portal .am-navbar-light {
  background-image: inherit;
}
.m-rpt-fi-balance-sheet .detailHide .am-navbar-right {
  display: none;
}
.m-rpt-fi-balance-sheet .totalIsHide {
  background: transparent !important;
}
.m-rpt-fi-balance-sheet .chartWrapper {
  background: #fff;
  display: flex;
  padding-right: 20px;
  position: relative;
}
.m-rpt-fi-balance-sheet .chartWrapper .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend {
  width: 54%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendCenter {
  width: 100%;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendOne:last-child {
  border-bottom: 0 !important;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendOne {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;
  padding: 8px 0;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendOne .left span {
  width: 9px;
  height: 9px;
  display: inline-block;
  background: transparent;
  margin-right: 8px;
  min-width: 9px;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendOne .left {
  font-size: 12px;
  color: #485361;
  display: flex;
  align-items: center;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendOne .right {
  font-size: 12px;
  color: #28303B;
  display: flex;
  align-items: center;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk .left span {
  width: 20px !important;
  height: 18px !important;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk:nth-child(2) .left span {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAkCAMAAADM4ogkAAAAvVBMVEUAAACampr/uhmZmZn/uhv5wCv/uxv11WH/uRr/uRn/uRn/xiGZmZn/uRn/uRr/uRr/uhz/uRn/uRr/uBn/uBqZmZmZmZn/uRn/uRmZmZn/uRr/uRr/uhn/uhr/uRz/uxr/uRr/vR3/vx3/wiH/uRr/uRr/uRn/uRr/uRr/uRn/uhr/uhqampqampr/uxr/uxv/uhz/uxyhoaGampqampr/uRr/uRqampr/uhr/uhydnZ2bm5v/uSP/uBmZmZljxe3sAAAAPXRSTlMASW/uVQczA/jytgrDo5FqJPvs1s6//Onh3buHg2E/OzofGQ/k28jEr5d3XFpPQzgsKRvFp6eLb2RKJxcWr37kAgAAAStJREFUOMvt0ddOwzAYBeBTmmbSNAu6V2jpgg72Orz/Y4EbNyJOWkVI3PFdJFZypN8+Rt520kApDdo44copCsZQOcHUyQcXXKtBo8WuXPY5l6shqUOl0fTkJlz514hYR14n91WjFSNvN+0dtiHfg2YfR42Xsyat0N3gpFrXJKPOzCLtMbIGmpGuP67J/U6NTZ3BAKnhCmgyfD10KXLsJH2uLWuLhDcXNWkBadcguNzzzdajDozMMJm19Om7orYnM6nV85kS7ffYgDChvZMnHUHo8acVHCtKJqu3E2WCLaDOGEUCZujoc1jYIbNeMKJWJriAXi5oumGpoPAf/MugcZbn4fdu2+dCu6q4U4MPFfG8ufxUPKsnaRsyp7hXJ1cvvomcSpn9VjnmXSa+AN6lZ/fT7lc5AAAAAElFTkSuQmCC) no-repeat !important;
  background-size: cover !important;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk:nth-child(2) .indexNumber {
  color: #FF8B16;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk:nth-child(1) .left span {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAkCAMAAADM4ogkAAAAulBMVEUAAACampr/WlqZmZn/YmL/WlrmjY3/WVn/W1v/WVn/WlqZmZn/WVn/Wlr/WVn/W1v/W1v/ZWX/WVn/WlqZmZn/Wlr/X1+ampr/Wlr/WVn/WVn/WVn/Wlr/WVn/WVn/Wlqampr/Wlr/WVmfn5//Xl7/Wlr/Wlr/WVn/Wlr/Wlr/Wlr/Wlr/XFz/W1v/XFz/Wlr/X1+ampqZmZmZmZn/Wlr/Wlqampr/Wlqampr/WlqdnZ3/W1v/WVmZmZkN9LYFAAAAPHRSTlMASW/uCFUEtzP488SjkWo6JAr7x79hGP3t6uTh2tTPgldCPRkPr5eKhndcV1Y4LCkf493Xzb6np29KJxyyCdEaAAABLUlEQVQ4y+3R2W6CQBiG4c9qh0UQweK+t1qXunTfPu//tuoAxjIDxjTpmc8BkPAO82eAbt2u4CwVGjjhzs8K61rnN7u+Hk45UkPR4Sx5DDlJnjzShOqBVjUZwk3eij4d6F7paGvtOnSb7uAwRnIftULk+p7XWrR77gonle4tsm/UbNLYKu/GS3E8tRoZTSpWDpvjY+QtgDZ7n4fvyY6GHw9o22vEqhN5TMsWaZQguYwEVufdBDyrG+81Dxi48tj2c5nRwoBHM2DACqQ2jQ0iWw/SgL8t4Nv9eGf177ykwg7gsI4sTaaYCDnO6gTTQni8zjxsJZzCPC+03F5eqLmE/xmKK10Vf1d4LkuPRcWtGr4V5HXY2Ck+1AGfRNIpyko4LN7s7XQNZe+vQp5D+AMcDmY9Ae7QCQAAAABJRU5ErkJggg==) no-repeat !important;
  background-size: cover !important;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk:nth-child(1) .indexNumber {
  color: #D43D4A;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk:nth-child(3) .left span {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAkCAMAAADM4ogkAAAAolBMVEUAAACampps0XWZmZl94YJs0nVq0nVt03eJ/4lq0nZr0nZt03eZmZlr0nVt1Xdq0nVr0nZs0nZr03Zr03Zr0nVq0nVr0nZq0naZmZlu2Hx02Xqamppr0nVq0nZq0nZt03dr03Zt1Xlv1Xefn5+Gw5KZmZlq0nZr0nVq0nZq03Zr0neampqampqamppq0Xaampqamppr0nWcnJydnZ1q0XWZmZlyYutGAAAANHRSTlMASW/uCFX6MwPzhjnEtiWkkWpgV+nj1c6/GA/87dy7Qj0rHhkH2sjFr5d3Wk/jqKdvSkMnNmfO8QAAASRJREFUOMvt0tlygjAYhuGvlYYEBJG17ktrXbq3n/d/axUjY03AcTrTM59D845/+AG2WdbFRboMcEbfqQt7VucMR307XHNihjKjBy3mCppPujAlFOHhEtHhVBbswDa2fk2oerCFo2q2hDZJYzSab5YpVR75OOvRE2QxXioymBtn00Qet/ZE7m8q/Q6H02Pkx0DK/LPaZdlx7OgLKjWrbr8q15SkZKDPIu4Jkb25gC9yPWsjKKJybZ7Qaw0FjzzAo/44MgaH/57rR/T4WwJHFXqy+XaKk3AEdNhDnSFPuIg5rd0hT8XweVcXOka4hntZqKK8KbRcw/8M5a0txN+9LNql15bhwQzfv7DzPNgaPsyPcSF1Z2qbk1v3O1vbwJj9fdOkCn8Ay8RZNxK3qvcAAAAASUVORK5CYII=) no-repeat !important;
  background-size: cover !important;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendRisk:nth-child(3) .indexNumber {
  color: #33A100;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizIncome:nth-child(1) .left span {
  background: #34A8FF;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizIncome:nth-child(2) .left span {
  background: #50E8FA;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizIncome:nth-child(3) .left span {
  background: #FFD37C;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizIncome:nth-child(4) .left span {
  background: #F99C89;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizIncome:nth-child(5) .left span {
  background: #1E85D0;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizIncome:nth-child(6) .left span {
  background: #967BD1;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizExpend:nth-child(1) .left span {
  background: #F99C89;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizExpend:nth-child(2) .left span {
  background: #1E85D0;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizExpend:nth-child(3) .left span {
  background: #34A8FF;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizExpend:nth-child(4) .left span {
  background: #50E8FA;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizExpend:nth-child(5) .left span {
  background: #FFD37C;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendBizExpend:nth-child(6) .left span {
  background: #967BD1;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendFi:nth-child(1) .left span {
  background: #34A8FF;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendFi:nth-child(2) .left span {
  background: #F99C89;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .legendFi:nth-child(3) .left span {
  background: #1E85D0;
}
.m-rpt-fi-balance-sheet .chartWrapper .legend .indexNumber {
  font-size: 16px;
  margin-right: 4px;
}
.m-rpt-fi-balance-sheet-modal .am-list-item {
  transition: inherit;
}
.m-rpt-fi-balance-sheet-modal .am-list-item .am-list-ripple {
  transition: inherit;
}
.m-rpt-fi-balance-sheet-modal .am-navbar-light {
  background-image: linear-gradient(0deg, #2FAAF9 0%, #6ACFFF 100%);
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.m-rpt-fi-balance-sheet-modal .am-navbar-light .rriconfont {
  width: 44px;
  height: 44px;
}
.m-rpt-fi-balance-sheet-modal .am-navbar-light .rriconfont-jiantou-xiangzuo:before {
  position: relative;
  top: 9px;
  right: 2px;
}
.m-rpt-fi-balance-sheet-modal .am-navbar-title {
  color: #fff;
}
.m-rpt-fi-balance-sheet-modal-list .am-list-item {
  min-height: 49px;
  padding-left: 0;
}
.m-rpt-fi-balance-sheet-modal .am-list-item .am-list-line .am-list-content {
  font-size: 14px;
}
.m-rpt-fi-balance-sheet-modal .am-list-item .am-list-line .am-list-extra {
  font-size: 14px;
}
.m-rpt-fi-balance-sheet-modal-list .am-list-item .am-list-line {
  padding: 0 52px 0 40px;
}
.m-rpt-fi-balance-sheet-modal-list .am-list-item.am-list-item-middle:nth-child(1) {
  background: #FFF1F0;
}
.m-rpt-fi-balance-sheet-modal-list .am-list-item.am-list-item-middle:nth-child(1) .am-list-content {
  color: #D43D4A;
}
.m-rpt-fi-balance-sheet-modal-list .am-list-item.am-list-item-middle:nth-child(1) .am-list-extra {
  color: #D43D4A;
}
.m-rpt-fi-balance-sheet-modal .am-list-item .am-list-line .am-list-content {
  color: #28303B;
}
.m-rpt-fi-balance-sheet-modal .am-list-item .am-list-line .am-list-extra {
  color: #28303B;
}
.m-rpt-fi-balance-sheet-modal .sortIcon {
  position: absolute;
  right: 47px;
}
.m-rpt-fi-balance-sheet-expendModal .am-list-item.am-list-item-middle:nth-child(1) {
  background: #EDF9E6;
}
.m-rpt-fi-balance-sheet-expendModal .am-list-item.am-list-item-middle:nth-child(1) .am-list-content {
  color: #33A100;
}
.m-rpt-fi-balance-sheet-expendModal .am-list-item.am-list-item-middle:nth-child(1) .am-list-extra {
  color: #33A100;
}
.m-rpt-fi-balance-sheet .hideRightContent {
  display: none;
}
.m-rpt-fi-balance-sheet-modal .time {
  background: #f8f8f8;
  font-size: 14px;
  display: flex;
  height: 44px;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  z-index: 100;
  margin-top: 45px;
  width: 100%;
}
.m-rpt-fi-balance-sheet-modal .time .dataLine {
  margin-left: 20px;
}
.m-rpt-fi-balance-sheet-modal .time .am-list-item {
  background-color: #f8f8f8 !important;
}
.m-rpt-fi-balance-sheet-modal-DatePicker .am-picker-popup-header {
  background: #F8F8F8;
}
.m-rpt-fi-balance-sheet-modal-DatePicker .am-picker-popup-header-left {
  color: #485360;
}
.m-rpt-fi-balance-sheet-modal-Picker .am-picker-popup-header {
  background: #F8F8F8;
}
.m-rpt-fi-balance-sheet-modal-Picker .am-picker-popup-header-left {
  color: #485360;
}
.m-rpt-fi-balance-sheet-modal .time .am-list-item .am-list-line {
  padding-right: 0 !important;
}
.m-rpt-fi-balance-sheet-modal .time .am-list-item {
  padding-left: 0 !important;
}
.m-rpt-fi-balance-sheet-modal .time .am-list-item .am-list-line .am-list-content,
.m-rpt-fi-balance-sheet-modal .time .am-list-item .am-list-line .am-list-extra {
  color: #6B7887;
}
.m-rpt-fi-balance-sheet-modal .time .am-list-line:after {
  background-color: transparent !important;
}
.m-rpt-fi-balance-sheet-modal .time .am-list-item .am-list-line .am-list-arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 6px;
  transform: rotate(0deg) !important;
  border: 5px solid transparent;
  border-top: 5px solid #92A0AD;
  position: relative;
  top: 4px;
  background-image: initial;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.m-rpt-fi-balance-sheet-modal-dataTerms .am-modal-content {
  border-radius: 0 !important;
  padding-top: 0 !important;
}
.m-rpt-fi-balance-sheet-modal-dataTerms .am-modal-content .am-modal-body {
  padding: 0 !important;
}
.m-rpt-fi-balance-sheet-modal-dataTerms .am-modal-content .am-list-item {
  padding-left: 0 !important;
}
.m-rpt-fi-balance-sheet-modal-dataTerms .am-modal-content .am-list-content {
  padding-left: 20px !important;
  font-size: 16px;
}
