.m-rpt-biz {
  flex: 1;
  overflow: hidden;
  font-size: 12px;
  height: 100%;
  overflow: auto;
  position: relative;
}
.m-rpt-biz .body * {
  box-sizing: initial !important;
}
.m-rpt-biz .bgPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.m-rpt-biz .bgPhoto .loadingPhoto {
  width: 60px;
  height: 60px;
  background: url(e333b83fbebad199369d6da1ff410b4c.gif) no-repeat !important;
  background-size: cover !important;
}
.m-rpt-biz .bgPhoto .errorPhoto {
  width: 113px;
  height: 110px;
  background: url(ad2cec0bb5d92212759e8589cd64dbbc.png) no-repeat !important;
  background-size: cover !important;
  margin-bottom: 15px;
}
.m-rpt-biz .bgPhoto .errorText {
  color: #485360;
  margin-bottom: 15px;
}
.m-rpt-biz .bgPhoto .refresh {
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 14px !important;
  color: #FAAD14;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0 1px 4px 0 rgba(146, 160, 173, 0.1);
}
.m-rpt-biz .bgPhotoPng {
  flex-direction: column;
  font-size: 14px;
}
.m-rpt-biz .time {
  background: #f8f8f8;
  font-size: 14px;
  display: flex;
  height: 44px;
  align-items: center;
  padding-left: 20px;
}
.m-rpt-biz .time .dataLine {
  margin-left: 20px;
}
.m-rpt-biz .time .am-list-item {
  background-color: #f8f8f8 !important;
}
.m-rpt-biz-DatePicker .am-picker-popup-header {
  background: #F8F8F8;
}
.m-rpt-biz-DatePicker .am-picker-popup-header-left {
  color: #485360;
}
.m-rpt-biz-Picker .am-picker-popup-header {
  background: #F8F8F8;
}
.m-rpt-biz-Picker .am-picker-popup-header-left {
  color: #485360;
}
.m-rpt-biz .m-rpt-fi-balance-sheet .echarts-for-react {
  height: 195px !important;
}
.m-rpt-biz .am-list-item .am-list-line {
  padding-right: 0 !important;
}
.m-rpt-biz .am-list-item {
  padding-left: 0 !important;
}
.m-rpt-biz .am-list-item .am-list-line .am-list-content,
.m-rpt-biz .am-list-item .am-list-line .am-list-extra {
  color: #6B7887;
  font-size: 14px;
}
.m-rpt-biz .am-list-line:after {
  background-color: transparent !important;
}
.m-rpt-biz .am-list-item .am-list-line .am-list-arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 6px;
  transform: rotate(0deg) !important;
  border: 5px solid transparent;
  border-top: 5px solid #92A0AD;
  position: relative;
  top: 4px;
  background-image: initial;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.m-rpt-biz-dataTerms .am-modal-content {
  border-radius: 0 !important;
  padding-top: 0 !important;
}
.m-rpt-biz-dataTerms .am-modal-content .am-modal-body {
  padding: 0 !important;
}
.m-rpt-biz-dataTerms .am-modal-content .am-list-item {
  padding-left: 0 !important;
}
.m-rpt-biz-dataTerms .am-modal-content .am-list-content {
  padding-left: 20px !important;
  font-size: 16px;
}
.m-rpt-biz .title {
  font-size: 14px;
  color: #28303B;
  padding: 15px;
  font-weight: bold;
}
.m-rpt-biz .am-pull-to-refresh-content > div {
  background: #f8f8f8;
}
.m-rpt-biz .fiDetail {
  display: inherit !important;
}
.m-rpt-biz .fiDetail .detail2 {
  min-width: 115px;
  text-align: left;
}
.m-rpt-biz .detailPayment span {
  width: 141px !important;
}
.m-rpt-biz .detailPayment {
  border-left: 0 !important;
  display: flex;
  width: 96%;
  justify-content: space-between;
  padding: 5px !important;
  margin: 0 auto;
}
.m-rpt-biz .detailPayment .detail1 {
  width: 50%;
  border-right: 1px solid #EAEAEA !important;
}
.m-rpt-biz .detailPayment .noBorder {
  border-right: 0px solid #EAEAEA !important;
}
.m-rpt-biz .payments {
  background: #fff;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 8px;
}
.m-rpt-biz .payments .payments1 {
  border-bottom: 1px solid #eaeaea;
}
.m-rpt-biz .payments .payments2 span {
  color: #29303B !important;
}
.m-rpt-biz .payments .fiDetail > div {
  display: flex !important;
  margin-bottom: 0 !important;
}
.m-rpt-biz .payments .detail {
  display: block;
  padding: 4px 27px 5px;
  margin: 0 auto;
  max-width: 304px;
  text-align: right;
  box-sizing: initial;
}
.m-rpt-biz .payments .detail > div {
  flex: 1;
  padding: 0 10px;
  display: inline-block;
  text-align: left;
  min-width: 76px;
  margin-bottom: 15px;
  border-left: 1px solid #EAEAEA;
}
.m-rpt-biz .payments .detail span {
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
  max-width: 128px;
  word-wrap: break-word;
}
.m-rpt-biz .payments .detail .detail1 {
  border: 0;
}
.m-rpt-biz .payments .detail .detail1 span {
  color: #D43D4A;
}
.m-rpt-biz .payments .detail .detail2 span {
  color: #33A100;
}
.m-rpt-biz .payments .detail .detail3 span {
  color: #29303B;
}
.m-rpt-biz .payments:last-child {
  margin-bottom: 0;
}
.m-rpt-biz .business {
  background: #f8f8f8;
  margin-top: 8px;
}
