.m-sys-portal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.m-sys-portal-left-drawer-show {
  color: #33a3f4;
}
.m-sys-portal .am-navbar-light {
  background-image: linear-gradient(-179deg, #45B8FB 2%, #2FAAF9 100%);
}
.m-sys-portal .am-navbar-light .am-navbar-title {
  color: #fff;
  font-size: 18px;
}
.m-sys-portal .rriconfont-liebiao:before {
  color: #fff;
}
.m-sys-portal .am-tabs-default-bar-content {
  background-image: linear-gradient(0deg, #189CF6 0%, #2FAAF9 100%);
  box-shadow: 0 2px 10px 0 rgba(22, 155, 246, 0.3);
  color: #C8E8FD;
}
.m-sys-portal .am-tabs-default-bar-underline {
  border-color: #fff;
}
.m-sys-portal .am-tabs-default-bar-tab-active {
  color: #fff;
}
.m-sys-portal .am-tabs-default-bar-tab::after {
  background-color: #44B2F9 !important;
  top: 0px !important;
}
.m-sys-portal-left-drawer-hidden {
  color: #949494;
}
.m-sys-portal .mk-icon {
  font-size: 20px;
}
.m-sys-portal .am-tabs-pane-wrap {
  overflow: hidden;
}
.m-sys-portal .am-tab-bar-item {
  display: flex;
  flex-direction: column;
}
.m-sys-portal-hidden {
  display: none;
}
.m-sys-portal-show {
  display: block;
  position: relative;
  min-height: 500px;
}
.m-sys-portal-openPages > div {
  width: 0px;
  height: 0px;
}
.m-sys-portal-openPages > div:last-child {
  width: auto;
  height: 100%;
}
.m-sys-portal-left-drawer.am-drawer {
  left: auto;
  bottom: auto;
  width: 0px;
  height: 0px;
  z-index: 9999;
}
.m-sys-portal-left-drawer.am-drawer-open {
  width: 100%;
  height: 100%;
}
.m-sys-portal-left-drawer .am-drawer-sidebar > div {
  height: 100%;
}
