.forgetPassword {
  background: #E8F4FF;
  height: 100%;
}
.forgetPassword-header {
  height: 65px;
  display: flex;
  align-items: center;
}
.forgetPassword-header-title {
  flex: 1;
  font-size: 18px;
  color: #189CF6;
  text-align: center;
}
.forgetPassword-header .rriconfont::before {
  color: #189CF6;
}
.forgetPassword-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.forgetPassword-content .rriconfont::before {
  color: #92A0AD;
}
.forgetPassword-content .am-list-body,
.forgetPassword-content .am-list-item,
.forgetPassword-content .am-button {
  border-radius: 88px;
}
.forgetPassword-content .am-list-body::before,
.forgetPassword-content .am-list-body::after {
  background-color: transparent !important;
}
.forgetPassword-content .am-whitespace-xl {
  height: 30px;
}
.forgetPassword-content .am-list-item .am-input-control input {
  font-size: 14px;
}
.forgetPassword-content .am-list,
.forgetPassword-content .am-button {
  width: 294px;
}
.forgetPassword-content .am-button-primary {
  background-image: linear-gradient(0deg, #189CF6 0%, #6ACFFF 100%);
  box-shadow: 0 2px 6px 0 rgba(22, 155, 246, 0.08);
}
